#root {
    margin: 0 auto;
    padding: 2rem;
}

#header {
    max-width: 100%;
}

.is-double-column {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 1;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .is-double-column {
        flex-direction: column; /* Колонки становятся вертикально */
        gap: 20px;
    }
}

.main-img {
    max-width: 100%;
    height: auto;
}

/* Адаптивность: на мобильных — 1 колонка */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}


.sorted-gallery_btn {
    display: block;
    width: auto;
    height: 100%;
    margin-bottom: 2px;
    cursor: pointer;
}
.sorted-gallery_top_btn {
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
}
.btn-background {
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    margin-bottom: 10px;
}

.sorted-gallery_fon {
    border-radius: 5px;
    padding: 10px;
}

.sorted-gallery_btn:hover {
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
    background-color: rgb(233, 248, 250);
}

/*.sorted-gallery_logo {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    margin: 0 20px;*/
/*}*/

/*стрелочка на sorted-gallery*/
.usefull-links:hover {
    cursor: pointer;
}

.usefull-links {
    position: relative;
    width: 100%;
    height: 17px;
}

.arrow {
    transform: rotate(90deg);
}
.arrow-open {
    transform: rotate(-90deg);
}

.info-div .active i {
    transform: rotate(180deg);
}

.footer_img {
    background-repeat: no-repeat;
    background-image: url(/src/assets/fon_footer1.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 50vh;
    width: 100%;
}